.navbar-default {
	padding: 10px 0;
	background: white;
	border: 0;
}
.navbar-nav {
	float: right;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

.hero-background {
	background: linear-gradient(to right top, #2FAC66, #1F76B9, #56509C);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 15s ease infinite;
	-moz-animation: AnimationName 15s ease infinite;
	animation: AnimationName 15s ease infinite;

	h1.page-header {
		font-size: 60px;
		color: white;
	}
	.hero-content {
		text-align: center;
		padding: 110px 0 100px;
	}

	.subtext {
		font-size: 40px;
		color: white;
	}
}
.hero-background-2 {
	margin: 50px 0 0;
	background: linear-gradient(to right top, #11753D, #0ED968, #277A4C);
	background-size: 600% 600%;
 
	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;
}
h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
	}
.line-break {
    width:100%;
}
.line-break_1 {
    width: calc(100% - 40px);
    height: 2px;
    background: #E21718;
    margin: 10px 20px;
    float: left;
}
.line-break_2 {
    width: calc(100% - 40px);
    height: 2px;
    background: #56509C;
    margin: 10px 20px;
    float: left;
}
.line-break_3 {
    width: calc(100% - 40px);
    height: 2px;
    background: #2FAC66;
    margin: 10px 20px;
    float: left;
}
.line-break_4 {
    width: calc(100% - 40px);
    height: 2px;
    background: #F9B233;
    margin: 10px 20px;
    float: left;
}
.slogan {
	margin-bottom: 20px;
	text-align: center;
}
.call-to-action {
	margin-bottom: 50px;
}
.search-block-form {
	margin-left: 10px;
    float: right;
    width: 300px;
    margin: 0 auto;
    padding: 10px 0px;
}
.region-navigation-collapsible {
	padding-top: 8px;
}
.mailchimp-signup-subscribe-form {
	h2 {
		border-bottom: solid 2px white;
		margin: 10px 0;
		padding: 10px 0;
	}
	button {
		margin: 10px 0;
	}
}

@media (max-width: 760px) {
	.search-block-form {
		display: none;
	}
	.hero-background {

		h1.page-header {
			width: 100%;
			font-size: 30px;
		}
		.subtext {
			font-size: 20px;
		}

	}

	.navbar-nav {
	    float: left;
	    width: 100%;
	}

}

@-webkit-keyframes AnimationName {
    0%{background-position:40% 0%}
    50%{background-position:61% 100%}
    100%{background-position:40% 0%}
}

@-moz-keyframes AnimationName {
    0%{background-position:40% 0%}
    50%{background-position:61% 100%}
    100%{background-position:40% 0%}
}

@keyframes AnimationName { 
    0%{background-position:40% 0%}
    50%{background-position:61% 100%}
    100%{background-position:40% 0%}
}