<div class="container-fluid">
  <div class="container__inner" id="top">
  		    <div 
	      fxLayout
	      fxLayout.xs="column"
	      fxLayoutGap="5px"
	      fxLayoutGap.xs="0"
	      class="wallets">

  		<div fxFlex>
		<mat-card class="example-card">
		  <mat-card-content>
			<mat-list>
			  <div *ngFor="let recipient of recipients">
			  	<mat-list-item>  
			  	    <h4 mat-line>{{recipient.name}} | {{ recipient.address }}
			  	    	<span class="pull-right">
				  	    	<mat-icon aria-label="Side nav toggle icon">send</mat-icon>
				  	    </span>
				  	</h4>
				</mat-list-item>
			  	<mat-divider></mat-divider>
			  </div>
			</mat-list>
		  </mat-card-content>
		</mat-card>
		</div>
	</div>
	    <div 
	      fxLayout
	      fxLayout.xs="column"
	      fxLayoutGap="5px"
	      fxLayoutGap.xs="0"
	      class="actions">
	      <div fxFlex>
		      <mat-card fxFlex="360px" class="dashboard-card">
		        <mat-card-header>
		          <mat-card-title>
		            <h2>Create a new recipient</h2>
		          </mat-card-title>
		        </mat-card-header>
		        <mat-card-content class="dashboard-card-content">
		        	<app-create-recipient></app-create-recipient>
		        </mat-card-content>
		      </mat-card>
	     </div>
    </div>
	</div>
</div>