// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

.alert {
  margin: 12px 0;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  border-radius: 0;
  }

// Page header.
.page-header {
  margin-top: 0;
  border-bottom: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
  color: white;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

.highlighted {
  font-size: 20px;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.service-icon {
  display: block;
  position: relative;
  width: 145px;
  height: 145px;
  margin: auto;
  margin-bottom: 30px;
  margin-bottom: 20px;
  border: 10px solid #ececec;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  i.icon {

  }
}

.mailchimp-signup-subscribe-form {
  margin: 50px 0;
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.content {
  padding: 50px 0 0;
}

img {
  max-width: 100%;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}