<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="blockchainName">
    <form [formGroup]="blockchainName">
      <ng-template matStepLabel>Blockchain name</ng-template>
      <mat-form-field class="fullwidth">
        <input matInput placeholder="Name of blockchain" formControlName="blockchainName" required>
      </mat-form-field>
      <mat-form-field class="fullwidth">
        <input matInput placeholder="Url for requesting access" formControlName="blockchainUrl" required>
      </mat-form-field>
      <div>
        <button (click)="createBlockchain(blockchainName.value.blockchainName)" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="blockchainParams">
    <form [formGroup]="blockchainParams">
      <ng-template matStepLabel>Edit params</ng-template>
      <mat-form-field class="fullwidth">
        <input matInput placeholder="Address" >
		  <mat-label>Autosize textarea</mat-label>
		  <textarea  
		  		formControlName="blockchainParams" 
		  		matInput
		        cdkTextareaAutosize
		        #autosize="cdkTextareaAutosize"
		        cdkAutosizeMinRows="20"
		        >      
	      </textarea>

      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Launch</ng-template>
    Launch the blockchain
    <div>
      <button mat-button matStepperPrevious>Cancel</button>
      <button mat-button (click)="submitBlockchain()">Launch now</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
