<!-- COPYWRITE FNS 2018. TODO: ADDIN HTML AND UX FOR SIGNIN / PASSWORD RECOVERY -->
<div class="container-fluid hero">
    <div class="container__inner" id="top">
        <section  class="main">
            <h1>Please Login</h1>
            <div 
                fxLayout
                fxLayout.xs="column"
                fxLayoutGap="5px"
                fxLayoutGap.xs="0"
            >   
            <p class="fullwidth">Welcome to the Petmeddata login form. If you do not have an account, please click the toggle above.</p>

            </div>
            <div
                fxLayout
                fxLayout.xs="column"
                fxLayoutGap="5px"
                fxLayoutGap.xs="0"
            >   
                <form  class="user user__registration" [formGroup]="userLogin" name="userLogin">

                    <mat-form-field  class="fullwidth">
                        <input formControlName="email" matInput  placeholder="Email" type="text">
                        <mat-icon color="primary" matSuffix>mail_outline</mat-icon>
                        <mat-hint>Enter your email</mat-hint>
                    </mat-form-field>

                    <mat-form-field class="fullwidth">
                        <input formControlName="password" matInput  placeholder="Password" type="password">
                        <mat-icon color="primary" matSuffix>lock_outline</mat-icon>
                        <mat-hint>Enter your password</mat-hint>
                        <mat-error>Your password must have a minimum 6 characters</mat-error>
                    </mat-form-field>

                    <button color="primary" (click)="loginEmailPassword(userLogin.value.email,userLogin.value.password)" mat-raised-button>Login</button>

                </form>
            </div>

         </section>
    </div>
</div>
