<div class="container-fluid">
  <div class="container__inner" id="top">
  		    <div 
	      fxLayout
	      fxLayout.xs="column"
	      fxLayoutGap="5px"
	      fxLayoutGap.xs="0"
	      class="wallets">
  		<div fxFlex>
		<mat-card class="example-card">
		  <mat-card-content>
			<mat-list>
			  <div *ngFor="let asset of assets">
			  	<mat-list-item>  
			  	    <h4 mat-line>{{asset.name}} | {{ asset.description }}
			  	    	<span class="pull-right">
		  	    	        <a routerLink="/blockchain/{{blockchainId}}/assets/{{asset.name}}"><mat-icon aria-label="Side nav toggle icon">account_balance</mat-icon></a>
				  	    	<a routerLink="/blockchain/{{blockchainId}}/assets/{{asset.name}}"><mat-icon (click)="getWallets(blockchainId)" aria-label="Side nav toggle icon">refresh</mat-icon></a>
				  	    </span>
				  	</h4>
				</mat-list-item>
			  	<mat-divider></mat-divider>
			  </div>
			</mat-list>
		  </mat-card-content>
		</mat-card>
		</div>
	</div>
    <div 
      fxLayout
      fxLayout.xs="column"
      fxLayoutGap="5px"
      fxLayoutGap.xs="0"
      class="actions">
      <div fxFlex>
	      <mat-card fxFlex="360px" class="dashboard-card">
	        <mat-card-header>
	          <mat-card-title> 
	            <h2>Issue a new asset</h2>
	          </mat-card-title>
	        </mat-card-header>
	        <mat-card-content class="dashboard-card-content">
	        	<app-create-asset></app-create-asset>
	        </mat-card-content>
	      </mat-card>
     </div>
    </div>
    <div 
      fxLayout
      fxLayout.xs="column"
      fxLayoutGap="5px"
      fxLayoutGap.xs="0" 
      class="actions">
      <div fxFlex>
	      <mat-card fxFlex="360px" class="dashboard-card">
	        <mat-card-header>
	          <mat-card-title>
	            <h2>Issue a new asset</h2>
	          </mat-card-title>
	        </mat-card-header>
	        <mat-card-content class="dashboard-card-content">
	        	<app-send-asset></app-send-asset>
	        </mat-card-content>
	      </mat-card>
     </div>
    </div>
	</div>
</div>