<div class="container-fluid">
  <div class="container__inner" id="top">
    <div class="mat-elevation-z8">
      <table *ngIf="active" mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="wallets">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>List of Wallets</th>
          <td mat-cell *matCellDef="let row">
            <mat-list>
              <mat-list-item *ngFor="let wallet of row.wallets"><a routerLink="/">{{wallet.address}}</a>
            </mat-list-item>
            </mat-list>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Account Balance</th>
          <td mat-cell *matCellDef="let row">
            <mat-list>
              <mat-list-item *ngFor="let balance of row.balance">{{balance.name}} {{balance.balance}}</mat-list-item>
            </mat-list>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Blockchain Status</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon *ngIf="!row.status" aria-label="Side nav toggle icon">error</mat-icon>
            <mat-icon *ngIf="row.status" aria-label="Side nav toggle icon">check</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator
        [length]="dataSource.data.length"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    </div>
    <div 
      fxLayout
      fxLayout.xs="column"
      fxLayoutGap="5px"
      fxLayoutGap.xs="0"
      class="cards__container">
      <mat-card fxFlex class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Add a new blockchain
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Create a new blockchain</button>
              <button mat-menu-item>View your existing blockchains</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-create-blockchain></app-create-blockchain>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Create now</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>