<form [formGroup]="recipientForm" novalidate>
      <div>
          <mat-form-field class="fullwidth">
            <input matInput placeholder="Recipient" formControlName="title" required>
            <mat-hint>Name of the recipient</mat-hint>
          </mat-form-field>
      </div>

       <div>
          <mat-form-field class="fullwidth">
            <input matInput placeholder="Description" formControlName="description">
            <mat-hint>Optional description</mat-hint>
          </mat-form-field>
      </div>

      <div>
        <mat-form-field class="fullwidth">
          <input matInput placeholder="Address" formControlName="description" required maxlength="38">
          <mat-hint>Blockchain address for recipient</mat-hint>
        </mat-form-field>
      </div>

    <button (click)="submitForm()" mat-raised-button color="primary">Create Recipient</button>

</form>
