<form [formGroup]="recepientForm" novalidate>
      <div>
          <mat-form-field class="fullwidth">
            <input matInput placeholder="Recepient" formControlName="title">
            <mat-hint>Name of the recepient</mat-hint>
          </mat-form-field>
      </div>
            <div>
          <mat-form-field class="fullwidth">
            <input matInput placeholder="Description" formControlName="description">
            <mat-hint>Description</mat-hint>
          </mat-form-field>
      </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="recepient" formControlName="wallet">
        <mat-option *ngFor="let wallet of wallets" [value]="wallet.address">{{wallet.name}} | {{ wallet.address}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
      <div>
	    <mat-form-field>
	      <mat-select placeholder="recepient" formControlName="assetName">
	        <mat-option *ngFor="let asset of assets" [value]="asset.name">{{asset.name}}</mat-option>
	      </mat-select>
	    </mat-form-field>
      </div>
    <button (click)="submitForm()" mat-raised-button color="primary">Create Recepient</button>

</form>
